<h1>Users login</h1>

<%= form_tag :action=> "login" do %>
    <h3>Login</h3>

  <label for="user_login">Login:</label><br/>
  <%= text_field "user", "name", :size => 20 %><br/>

  <label for="user_password">Password:</label><br/>
  <%= password_field "user", "password", :size => 20 %><br/>

  <%= submit_tag "submit" %>
  
<% end %>
